.card {
    background-color: #222;
    border: 1px solid #444;
    animation: fade 500ms ease-in-out forwards;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 50%vh;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}

.form-group:last-child {
    margin: 0;
}

.form-group>label {
    font-weight: bold;
    font-size: .8em;
    color: #ccc;
}

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.card.active {
    animation: slide 500ms 100ms ease-in-out both;
}

.multi-step-form {
    overflow: hidden;
    position: relative;
}

.hide {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(.75);
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.btn {
    margin-bottom: 1.5em;
}

.btn:last-child {
    margin-bottom: 0;
}

/* Full-width input fields */
input[type=password],
[type=text],
[type=Email],
[type=zipcode] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #ccc;
}